<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=lista de tareas, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>lista de tareas</h1>
    <ul>
        {% for tarea in tareas %}
            <li>
                <strong>{{ tarea.titulo }}</strong>: {{ tarea.descripcion }}
                <a href="{% url 'editar_tarea' tarea.pk %}">Editar</a>
                <a href="{% url 'borrar_tarea' tarea.pk %}">Borrar</a>
            </li>
        {% empty %}
            <li>No hay tareas aún.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'nueva_tarea' %}">Crear Nueva Tarea</a>
</body>
</html>